# build output
dist/

# dependencies
node_modules/

# environment variables
.env*
!.env.example

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# .exempleFunction Killian
.exempleTryCatch